html
  head
    title Chotto Matte Timer
    link(href='assets/css/index.css' rel='stylesheet')

  body
    
    .logo
      img#logo(src='assets/images/chottomatte-250x250.png')
      p#notif.notif.hide
    

    .container
      section.time
        h2 Time
        
        form.options-list.minutes-grid(name)
          .radiobox
            input(type='radio' name='time' onclick='getTime(1);') 
            label 1 minute
          
          .radiobox
            input(type='radio' name='time' value='5' onclick='getTime(5);') 
            label 5 minutes
          
          .radiobox
            input(type='radio' name='time' value='10' onclick='getTime(10);') 
            label 10 minutes
          
          .radiobox
            input(type='radio' name='time' value='15' onclick='getTime(15);') 
            label 15 minutes
          
          .radiobox
            input(type='radio' name='time' value='20' onclick='getTime(20);') 
            label 20 minutes
          
          .radiobox
            input(type='radio' name='time' value='25' onclick='getTime(25);') 
            label 25 minutes
          
          .radiobox
            input(type='radio' name='time' value='30' onclick='getTime(30);') 
            label 30 minutes
          
          .radiobox
            input(type='radio' name='time' value='45' onclick='getTime(45);') 
            label 45 minutes
          
          .radiobox
            input(type='radio' name='time' value='60' onclick='getTime(60);') 
            label 60 minutes
        
        .controls
          button#start.btn.hide(onclick='setTimer(x);') Start Timer
          button#pause.btn.hide(onclick='pauseTimer();') Chotto Matte Kudasai
          button#reset.btn.hide(onclick='resetTimer();') Reset

      section.timer
        //-h2 Timer
        h3#clock.countdown
          #minutes 00
          | :
          #seconds 00

        audio#alert
          source(src='assets/sounds/alerts/default.mp3' type="audio/mpeg")
          | Your browser does not support the audio element.

        audio#tick
          source(src='assets/sounds/fx/tick.mp3' type="audio/mpeg")
          | Your browser does not support the audio element.


      section.music
        h2 Instrumental Loops
        //- radio
      section.ambient
        h2 Ambient Loops
        //- checkboxes

script.
  
  var interval;
  var x = 0;
  var offset = 0;
  var tmr = true;

  function ctmTalk(message, duration = 3000) {
    document.getElementById("notif").classList.remove("bounce", "hide", "flipOutX");
    document.getElementById("notif").classList.add("bounce");
    document.getElementById("notif").innerHTML = message;

    var fadeNotif = setInterval(function () {
      document.getElementById("notif").classList.remove("bounce");
      document.getElementById("notif").classList.add("flipOutX");
      clearInterval(fadeNotif)
    }, duration) 
  }

  ctmTalk("Irrashaimase!!!", 5000)

  function setTimer(duration) {
    if(duration > 0) {
      var timer = duration, minutes, seconds;

      document.getElementById("start").classList.remove("display");
      document.getElementById("start").classList.add("hide");
      document.getElementById("pause").classList.add("display");
      document.getElementById("reset").classList.add("display");
      ctmTalk(duration/60 + ' minute timer, onegaishimasu!');
      
      disableSelection("time");

      interval = setInterval(function () {
        
        if(tmr) {
          timer += offset;
          minutes = parseInt(timer / 60, 10);
          seconds = parseInt(timer % 60, 10);

          minutes = minutes < 10 ? "0" + minutes : minutes;
          seconds = seconds < 10 ? "0" + seconds : seconds;

          document.getElementById("minutes").innerHTML = minutes;
          document.getElementById("seconds").innerHTML = seconds;  

          offset = 0;

          
        } else {
          
          offset++;

        }

        if (timer < 10) {
          document.getElementById("clock").classList.remove("tada");
          document.getElementById("clock").classList.add("shake");
          document.getElementById("tick").play();
        }

        if (--timer < 0) {
          clearInterval(interval);
          document.getElementById("alert").play();
          document.getElementById("tick").pause();
          document.getElementById("clock").classList.remove("shake");
          document.getElementById("clock").classList.add("tada");
          document.getElementById("logo").classList.add("shake2");
          document.getElementById("minutes").innerHTML = "00";
          document.getElementById("seconds").innerHTML = "00";
          resetTimer();
        }
      }, 1000);

      return interval;
    }
  }

  function makeMeTwoDigits(n){
    return (n < 10 ? "0" : "") + n;
  }

  function getTime(n) {
    clearInterval(interval);
    x = n * 60;
    document.getElementById("start").classList.remove("hide");
    document.getElementById("minutes").innerHTML = makeMeTwoDigits(n);
    document.getElementById("seconds").innerHTML = "00";
  }

  function pauseTimer() {
    tmr = !tmr;
    if (!tmr) {
      ctmTalk('Chotto matte kudasai!');
      document.getElementById("pause").innerHTML = "Resume Timer";
    } else {
      ctmTalk('Continue, onegaishimasu!');
      document.getElementById("pause").innerHTML = "Chotto Matte Kudasai";
    }
  }

  function resetTimer() {
    tmr = true;
    x = 0;
    clearInterval(interval);
    clearSelection("time");
    enableSelection("time");
    ctmTalk('Arigatou Gozaimasu!');

    document.getElementById("minutes").innerHTML = "00";
    document.getElementById("seconds").innerHTML = "00";   
    document.getElementById("start").classList.remove("display");
    document.getElementById("pause").classList.remove("display");
    document.getElementById("reset").classList.remove("display"); 
  }

  function disableSelection(n) {
    var ele = document.getElementsByName(n);
    for(var i=0;i<ele.length;i++)
      ele[i].disabled = true;
  }

   function enableSelection(n) {
    var ele = document.getElementsByName(n);
    for(var i=0;i<ele.length;i++)
      ele[i].disabled = false;
  }

  function clearSelection(n) {
    var ele = document.getElementsByName(n);
    for(var i=0;i<ele.length;i++)
      ele[i].checked = false;
  }

  
