@import 'global'
      
bgcolor = #0000ff
textcolor = #fff

body
  background-color bgcolor
  color textcolor
  text-align center
  overflow-y hidden


.title
  position absolute
  font-family CarinoSansBold
  font-size 3em
  line-height 1em
  left 8vh
  bottom 2vh

.wrapper
  display flex
  height 100vh
  justify-content center
  align-items center
  

.time
  display flex
  font-size 50vh
  //margin 0 auto
  justify-content center
  width 70%
  
  div 
    //width 50%
  
#timesUp
  color #fff
  position absolute
  font-size 5em
  background-color red
  border-radius 20px
  line-height 1em
  padding .5em .5em .3em
  opacity 0
  top 28vh

.logo
  position absolute
  bottom 5vh
  right 5vh
  max-width 200px